<div class="section-404 page-width">
  <div class="section-404__content">
    <h1 class="section-404__title h0">404</h1>
    <h2 class="section-404__subtitle h2">Page not found</h2>
    <p class="section-404__text">The page you requested does not exist.</p>
    <a href="/" class="button button--primary">
      Continue shopping
    </a>
  </div>
</div>

{% schema %}
{
  "name": "404 page",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
